<html>

    <head>
        <title>Space Poc</title>
        <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>

    <body>
        <div class="text-center space box">
            <img src="../img/medal.png" />
        </div>
        <div class="text-center space box">
            <h1 class="yellow_txt">Space POC</h1>
        </div>

        <div class="space text-center box clickable">
            <img src="../img/falcon.png" />
            <h2 class="yellow_txt">Falcon</h2>
            <input class="id" type="hidden" value="10" />
        </div>

        <div class="space text-center box clickable">
            <img src="../img/death-star.png" />
            <h2 class="yellow_txt">Death Star</h2>
            <input class="id" type="hidden" value="9" />
        </div>
        
        <div class="space large"></div>
    </body>
    <script>require('../js/info.js')</script>
</html>