<html>

    <head>
        <title>Space Poc</title>
        <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>

    <body>
        <div class="space text-center box">
            <h1 class="yellow_txt" id="spaceship_name"></h1>
        </div>

        <div class="space text-center box">
            <img src="../img/model.png" />
            <h2 class="yellow_txt" id="model"></h2>
        </div>
        <div class="space text-center box">
            <img src="../img/facto.png" />
            <h2 class="yellow_txt" id="facto"></h2>
        </div>
        <div class="space text-center box">
            <img src="../img/credit.png" />
            <h2 class="yellow_txt" id="cost"></h2>
        </div>
        <div class="space large"></div>
    </body>
    <script>require('../js/show.js')</script>
</html>