.space{
    background-image: url("../img/space.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.large{
    height: 900px;
}

.yellow_txt{
    color: #ffd54e;
    margin: 0;
}

.box{
    padding-bottom:100px; 
}
